@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar{
  width: 11px;
}

body::-webkit-scrollbar-thumb{
  border-radius: 10px;
  width: 5px;
  background: rgba(34,107,255,.9);
}

body::-webkit-scrollbar-track{
  width: 10px;
}

.block-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inline{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.hoverClass{
  cursor: pointer;
  transition: all 0.4s;
}

.hoverClass:hover{
  filter: brightness(70%);
}

@media print {
  .displayer {
    display: none;
  }
}

.news-export-doc .title-page {
  background-color: #00a4fd;
color: #fff;
}